h1 {
  text-align: center;
  color: pink;
  font-size: 32px;
  border: 10px dotted purple;
}

p {
  font-size: 18px;
}

img {
  width: 500px;
}
body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: orange;
}

li {
 float: right;
 font-size: 50px;
}

.flashy {
  font-family: times;
  color: red;
  text-decoration: underline;
}

.best {
  font-weight: 900;
  font-stretch: ultra-condensed;
}
